<div class="profile-container">
  <div class="card">
    <div class="media-content">
      <p class="title is-4">Name: <%= @student.name %></p>
      <p class="subtitle is-6"><%= @student.email %></p>

      <div class="content">
        <p>Course enrollments:
          <% if @student.courses.empty? %>
            None
          <% else %>
          <ul>
            <% @student.courses.each do |course| %>
              <li> <%= course.name %> </li>
            <% end %>
          </ul>

        <% end %>
        </p>
      </div>
      <% if current_user == @student %>
        <button class="edit-profile">
          <%= link_to 'Edit your profile'.html_safe, edit_student_path(@student) %>
        </button>
      <% end %>
    </div>


  </div>

</div>

