<div class="tabs " id="tab_header">
  <ul>
    <li class="item is-active" data-option="1"><a><i class="fas fa-university" aria-hidden="true"></i>&nbsp;My Progress</a></li>
    <li class="item" data-option="2"><a><i class="fas fa-calendar-alt" aria-hidden="true"></i>&nbsp;&nbsp;Course Plan</a></li>
    <li class="item" data-option="3"><a><i class="fas fa-book" aria-hidden="true"></i>&nbsp;&nbsp;Course Catalog</a></li>
  </ul>
</div>

<div class="box" id="tab_container">
  <div class="container_item is-active" data-item="1">


    <div class="my-progress-component-container">

      <%= react_component("MyProgress", { gpa: "3.49" , degree: "Bachelor of Spooks", major:"Scaring", department: "SCARE", catalog:"2019", description: "Scaring is a world renowned major at Monsters University.", progress: "30", credits: "20"}) %>
    </div>


  </div>
  <div class="container_item" data-item="2">
    <div class="my-plan-container">
      <%= react_component("Plan", { major: "scaring"}) %>
    </div>
  </div>
  <div class="container_item" data-item="3">
    <div class="my-catalog-container">
      <%= react_component("Catalog", { major: "scaring" }) %>
    </div>
  </div>
</div>